body {
    /* background:#99ceff;  */
    /* background-image: url(fisssss/images/620228.jpg); */ 
    font-family: 'Orbitron', sans-serif;
    color: black;
    font-size: 20px;
    color: white;   
} 

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 10px;
    font-size: 20px;
    background-color:black;

  }
  .fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 90%;
  }
  
  .fa:hover {
      opacity: 1.5;
      color:white;
  }
  
  .fa-facebook {
    background: blue;
    color: white;
  }

  .fa-instagram {
    background: blue;
    color: white;
   }

   .fa-linkedin {
    background: #007bb5;
    color: white;
 }


 .fa-file-pdf {
  background: red;
  color: white;
  font-size:3rem;
}
  

.navbar-brand{
    font-size: 1em;
    font-family: 'Orbitron', sans-serif;
    
}



h1{
    color:whitesmoke;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow:  2px 2px red;
}

h2{
  text-align: center;
  color: white;
  text-shadow:  2px 2px red;
}

h3, h5 , a{
  text-align: center;
  color:black;
  text-shadow:  2px 2px red;
}
/* .card-img-top{
    border-radius: 80%;  */
}
.card{
    background-color: rgb(101, 107, 126);
    margin-top: 20px;
    padding-top: 40px;
}

hr{background-size: cover;
    border: 10px solid white;
    border-radius: 25px;
}


.row{
    text-align: center;

}
.contact {
    margin: auto;
    color: red;
    padding: 65px 65px;
}
img{
    width:250px;
    height: 250px;
    /* background-origin: 50% 50%; 
    background-repeat: no-repeat;  */
    border-radius: 50%;
    border-color:white !important;
    border: solid; 
    box-shadow: 33px 36px 90px 2px white;
    
   
} 

.footer-bottom{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color:black;
    font-size: .9em;
    text-align: center;
    /* background-color:#99ceff; 
}

ul{
    list-style: none; */
}
.column {
    float: right;
    width: 100%;
    /* padding: 0 10px; */
    margin-right: -50px;
    
   
  }
  
  /* Remove extra left and right margins, due to padding */
  .row2 {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row2:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card1{
    box-shadow: 5px 10px white;
    padding: 16px;
    text-align: center;
    background-color:#2b2d2e;
    border-radius:20px;
    opacity: 0.7;
    font-style: italic;
    font-weight: 800;
    color: white;
    width: 80%;
    
  
  }
  
  .weathcards{
    margin-top:50px;
    /* border-style: solid;
    border-color: red; */
    width: auto;
    margin: 50px;
    
  
  }
  
  .bio{
    background-color:white;
    opacity: 0.8;
    
    
  }